@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap%22");

* {
  margin: 0;
  padding: 0;
  font-weight: 400px;
}

html {
  background: linear-gradient(#af67e9,#6565e7);
  min-height: 100%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.faq {
  width: 65%;
  min-height: 450px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.faq .ilustracao { 
  position: relative;
  left: -114px;
  width: 45%;
  margin: 50px 0;
}

.faq .conteudo {
  width: 40%;
  padding-bottom: 20px;
}

.faq .conteudo h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

.faq .conteudo .itens {
  list-style-type: none;
}

.faq .conteudo .item .itens {
  cursor: pointer;
  background-image: url(imagens/icone-seta-pra-baixo.png);
  background-repeat: no-repeat;
  background-position: top 8px right 0;
  background-size: 12px;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  }

.faq .conteudo .item .itens:last-child {
  border-bottom: none;
}

.itens .pergunta {
  padding-bottom: 15px;
  font-size: 15px;
  width: 90%;
  transition: 0.2s ease;
}

.itens .pergunta:hover {
  color: #f47c57;
}

.itens .resposta {
  display: none;
  padding-bottom: 15px;
}

.faq .item .itens.ativos h2 {
  font-weight: 700; 
}

.faq .item .itens.ativos .resposta {
  display: block;
}

.faq .item .itens.ativos {
  background-image: url(imagens/icone-seta-pra-cima.png);
}

@media (max-width: 1140px) {
  .faq {
    flex-direction: column;
    width: 90%;
  }

  .faq .conteudo {
    width: 100%;
  }

  .faq .conteudo h1 {
    font-size: 24px;
    text-align: center;
  }

  .faq .item {
    width: 80%;
    margin: 0 auto;
  }

  .faq .item .pergunta {
    font-size: 16px;
  }

  .faq .ilustracao {
    width: 40%;
    left: 0;
    margin: 30px 0;
  }
}

@media (max-width: 425px) {
  .faq {
    height: 540px;
  }
}